.footer__logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    min-width: 154px;
    color: #ffffff;
    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
        text-align: start;
    }
    .footer__logo-part {
            color: var(--logo-focus-hover-color);
        }
    &:focus {
            color: var(--logo-focus-hover-color);
        }
}