.container-tablet-menu {
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        width: 768px;
        justify-content: space-between;
    }
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.tablet-menu-navigation,
.tablet-contact {
    @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: center;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}
