.header {
    position: relative;
    border-bottom: 1px solid #ececec;
}

.container-header {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation__list,
.contact-header {
    display: flex;
    gap: 50px;
    margin-left: auto;
}

.navigation__item{
    position: relative;
    padding: 32px 0;
}

.contact-header__item {
    display: flex;
    min-width: 161px;
}

.header-portfolio {
    border-bottom: 1px solid #ececec;
}