.client {
    .client-container {
            padding: var(--padding-section);
            text-align: center;
            @media screen and (min-width: 1200px) {
                padding: var(--padding-section-desktop);
            }
        }
}

.client__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.16;
    }
}

.client__list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.client__item {
    display: flex;
    justify-content: center;
    align-items: center;
    .client__link {
            display: flex;
            justify-content: center;
            align-items: center;
            fill: #afb1b8;
            width: 210px;
            height: 92px;
            border: 1px solid #afb1b8;
            border-radius: 4px;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                fill: var(--logo-focus-hover-color);
                border: 1px solid var(--logo-focus-hover-color);
            }

            @media screen and (min-width: 768px) {
                width: 226px;
            }

            @media screen and (min-width: 1200px) {
                width: 170px;
            }
        }
}