.modal-backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 93px 15px;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    width: 100%;
    height: 609px;
    padding: 8px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    // transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal__close-btn {
    // position: absolute;
    // top: 8px;
    // right: 8px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            fill: var(--logo-focus-hover-color);
        }
}



.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0 32px;
}

.modal-form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.50;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}

.modal-form__label {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    position: relative;
}

.modal-form__box {
    position: relative;
    display: block;
    margin-bottom: 10px;
    margin-top: 4px;
    .modal-form__input {
            display: inline-block;
            width: 100%;
            height: 40px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            padding: 0px 0px 0px 42px;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            outline: none;
        }
    .modal-form__icon {
            position: absolute;
            top: 50%;
            left: 12px;
            transform: translateY(-50%);
            fill: #212121;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    .modal-form__textarea {
            height: 120px;
            resize: none;
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);
            margin-bottom: 20px;
            padding: 12px 16px;
        }
}

.modal-form__input:focus-within {
    border-color: var(--logo-focus-hover-color);
}

.modal-form__input:focus-within+.modal-form__icon {
    fill: var(--logo-focus-hover-color);
}

.modal-form__checkbox {
    position: relative;
    display: inline-block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #757575;
    padding-left: 36px;
    .modal-from__checkbox-icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 16px;
            height: 15px;
            border: 2px solid #212121;
            border-radius: 4px;
            margin-left: 12px;
            // transform: translateY(25%);
            transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.modal-form__checkbox-input:checked~.modal-from__checkbox-icon {
    background-color: var(--logo-focus-hover-color);
    background-image: url(../img/icon-checkbox.svg);
    background-position: center;
    block-size: contain;
    background-origin: border-box;
    border-color: var(--logo-focus-hover-color);
}

.modal-form__checkbox-input:focus~.modal-from__checkbox-icon {
    border-color: var(--logo-focus-hover-color);
}

.modal-from__policy-link {
    display: inline-block;
    color: var(--logo-focus-hover-color);
    text-decoration: underline;
    text-underline-offset: 3px;
}

.modal-form__submit {
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #ffffff;
    border: 0;
    background: var(--logo-focus-hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            background: #188ce8;
        }
}
