.portfolio-hero {
    padding: var(--padding-section-desktop);
}

.filter {
    display: flex;
    justify-content: center;
    list-style: none;
    .filter__list-item-btn {
            margin-right: 8px;
            margin-bottom: 50px;
        
        &:last-child {
                margin-right: 0px;
            }
    }
}

.filter__btn {
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #f5f4fa;
    color: #212121;
    cursor: pointer;
    padding: 6px 22px;
    border: 0px;
    border-radius: 4px;
    transition: var(--animation-hover-text), var(--animation-hover-bg),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            color: #ffffff;
            background: var(--logo-focus-hover-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}



.card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card__item {
    display: block;
    width: 370px;
    position: relative;
}

.card__link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover .card__overlay-discription {
            transform: translateY(0);
        }
    &:hover,
    &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.card__overlay {
    position: relative;
    overflow: hidden;
    .card__overlay-discription {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 18px;
            line-height: 1.56;
            letter-spacing: 0.03em;
            color: #ffffff;
            background-color: rgba(33, 150, 243, 0.9);
            padding: 63px 24px;
            height: 100%;
            transform: translateY(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.card__content {
    display: flex;
    flex-direction: column;
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    .card__project {
            font-weight: var(--title-logo-font-weight);
            font-size: 18px;
            line-height: 2;
            letter-spacing: 0.06em;
        }
    .card__project-description {
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.03em;
            color: #757575;
        }
}



