:root {
    --main-body-color: #ffffff;
    --logo-focus-hover-color: #2196f3;
    --title-color: #212121;
    --main-font-family: "roboto", sans-serif;
    --title-logo-font-weight: 700;
    --padding-section: 60px 15px;
    --animation-hover-text: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --animation-hover-bg: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}